body{
    background: url("bkg.png");
    background-size: cover;
    background-repeat: no-repeat;

}
#slackUserName{
    text-align: center;
}
h1[data-testid="slackUserName"]{
    text-align: center;
}
img[data-testid="slackDisplayImage"] { 
display: block; 
margin: 0 auto; 
vertical-align: middle; 
width: 150px; 
height: 150px; 
border-radius: 50%; 
}
